In [1]:
import pandas as pd
import myfunc as mf

In [ ]:
df = mf.generate_dummy_data(5)
df

In [4]:
## CREATE TABLE文の生成
table_name = "customer_data"
create_table_sql, insert_sql_list  = mf.create_table(df, table_name)

In [5]:
with open(f'./sql_folder/create_{table_name}.sql', 'w', encoding='utf8') as f:
  f.write(create_table_sql)
### INSERT文生成
# INSERT文をファイルに書き込む  
with open(f'./sql_folder/insert_{table_name}.sql', 'w', encoding='utf8') as f:
    for insert_sql in insert_sql_list:
        f.write(insert_sql + '\n')

In [6]:
## 専門職テーブルの作成
data = [
    {
        'id': 1,
        'name': '石田太郎',
        'kana': 'イシダタロウ',
        'specialty': 1,
        'delet_flag': 0,
        'create_date': '2025-05-01 10:30:00',
        'update_date': '2025-05-06 10:45:00',
    },
    {
        'id': 2,
        'name': '吉田友梨佳',
        'kana': 'ヨシダユリカ',
        'specialty': 2,
        'delet_flag': 0,
        'create_date': '2025-05-01 10:30:00',
        'update_date': '2025-05-06 10:45:00',
    },
]
# データフレーム作成
df = pd.DataFrame(data)
# 型変換
df = df.astype({
    'id': 'int64',
    'name': 'string',
    'specialty': 'int8',
    'delet_flag': 'int8',
    'create_date': 'datetime64[ns]',
    'update_date': 'datetime64[ns]',
})

In [8]:
## CREATE TABLE文の生成
table_name = "specialty_data"
create_table_sql, insert_sql_list  = mf.create_table(df, table_name)
with open(f'./sql_folder/create_{table_name}.sql', 'w', encoding='utf8') as f:
  f.write(create_table_sql)
### INSERT文生成
# INSERT文をファイルに書き込む  
with open(f'./sql_folder/insert_{table_name}.sql', 'w', encoding='utf8') as f:
    for insert_sql in insert_sql_list:
        f.write(insert_sql + '\n')

In [10]:
## 診療室テーブルの作成
data = [
    {
        'id': 1,
        'name': '診療室A',
        'remake': '診療室Aの説明',
        'create_date': '2025-05-01 10:30:00',
        'update_date': '2025-05-06 10:45:00',
    },
    {
        'id': 2,
        'name': '診療室B',
        'remake': '診療室Bの説明',
        'create_date': '2025-05-01 10:30:00',
        'update_date': '2025-05-06 10:45:00',
    },
    {
        'id': 3,
        'name': '特診室',
        'remake': '新患・急患ための特診室',
        'create_date': '2025-05-01 10:30:00',
        'update_date': '2025-05-06 10:45:00',
    },
    {
        'id': 4,
        'name': 'カウンセリング室',
        'remake': 'カウンセリング・待合室',
        'create_date': '2025-05-01 10:30:00',
        'update_date': '2025-05-06 10:45:00',
    },
]
# データフレーム作成
df = pd.DataFrame(data)
# 型変換
df = df.astype({
    'id': 'int64',
    'name': 'string',
    'remake': 'string',
    'create_date': 'datetime64[ns]',
    'update_date': 'datetime64[ns]',
})

In [11]:
## CREATE TABLE文の生成
table_name = "room_data"
create_table_sql, insert_sql_list  = mf.create_table(df, table_name)
with open(f'./sql_folder/create_{table_name}.sql', 'w', encoding='utf8') as f:
  f.write(create_table_sql)
### INSERT文生成
# INSERT文をファイルに書き込む  
with open(f'./sql_folder/insert_{table_name}.sql', 'w', encoding='utf8') as f:
    for insert_sql in insert_sql_list:
        f.write(insert_sql + '\n')